[project]
	description = the driver of the Linux operating system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paul (mz8023yt)
[access "refs/for/refs/*"]
	read = group user/Paul (mz8023yt)
	push = group user/Paul (mz8023yt)
	label-Code-Review = -2..+2 group user/Paul (mz8023yt)
	label-Verified = -1..+1 group user/Paul (mz8023yt)
	rebase = group user/Paul (mz8023yt)
	removeReviewer = group user/Paul (mz8023yt)
	submit = group user/Paul (mz8023yt)
[access "refs/heads/*"]
	read = group user/Paul (mz8023yt)
	create = group user/Paul (mz8023yt)
	push = +force group user/Paul (mz8023yt)
	pushMerge = group user/Paul (mz8023yt)
[access "refs/tags/*"]
	push = group user/Paul (mz8023yt)
	push = +force group user/Paul (mz8023yt)
